/**
 * @file
 * CSS for form placholders.
 */

.hide-label {
  text-indent: -9999px;
  overflow: visible;
  position: relative;
  z-index: 20;
  right: 8px;

  &:after {
    position: absolute;
    top: 158%;
    right: 0;
  }
}

.form-item {
  position: relative;
}

.placehold-required {
  position: relative;

  &:after {
    content: "*";
    position: absolute;
    top: 10px;
    right: 10px;
    color: #c00;
  }
}

input[type='text'].placehold-required,
input[type='email'].placehold-required,
input[type='password'].placehold-required
{
  padding-right: 26px;
}
