{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_logo_height: Height of the logo, if available.
 * - site_logo_width: Width of the logo, if available.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}

{% block content %}
  {% if site_logo and site_logo_height and site_logo_width %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
      <amp-img src="{{ site_logo }}" alt="{{ 'Home'|t }}" height="{{ site_logo_height }}" width="{{ site_logo_width }}" layout="responsive"></amp-img>
    </a>
  {% endif %}
  {% if site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
  {{ site_slogan }}
{% endblock %}
